.services {
  padding-top: $section-padding;
  padding-bottom: $section-padding;

  .services-icon {
    border: 2px solid $primary;
    font-size: 2rem;

    /* padding-top: 0.25rem; */
    line-height: 3.75rem;
    color: $primary;
    text-align: center;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    margin: 0px auto 0.75rem auto;
  }
}